/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-image: "espacio2.jpg";
  background-attachment: fixed;/*para que sea estático*/
  /*background-position: top right;/*arriba a la derecha*/
  /*background-repeat: no-repeat;/*que no se repita el fondo*/

}

.background{
  color: rgba(38, 2, 68, 0.699);
}

.padding{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.card-panel{
  padding-left: 5% ;
  padding-right: 5% ;
}

.card-title{
  color: rgb(252, 252, 252);
  font-size: 25px;
  font-weight: bold;
}

.card-margin{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
}

.card-text{
  color: rgb(255, 255, 255);
}

.purple0{
  background-color: rgb(48, 24, 71);
}

.purple1{
  background-color: rgba(48, 24, 71, 0.575);
}

.gris{
  background-color: rgba(143, 141, 140, 0.322);
}
.grey2{
  background-color: rgba(75, 71, 71, 0.836);
}
.link-text{
  background-color: rgb(255, 106, 0);
}

.imagenIz{
  float: left;
}

.textoADerecha{
  padding-left: 5%;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 20px;
	height: 0;
	overflow: hidden;
}
/***
* @author Brad Dalton - WP Sites
* @link http://wpsites.net/wordpress-tips/embed-videos-responsive/
***/
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}