/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
    /*
  background: #649173;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

background-color: ;
*/
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  /*color: #444;*/
}

.color-navbar{
  color: rgba(41, 7, 122, 0.719);
}

.nav {
  color: #fff !important;
  background-color: #7801f2 !important;
  width: 100% !important;
  height: 56px !important;
  line-height: 56px !important;
}






.card{
  color: rgba(44, 0, 148, 0.493) !important;
}

.background{
  color: rgba(38, 2, 68, 0.699);
}



.padding{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;

  /*color: #2b0252ab;*/
}

.image-padding{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.title-position{
  justify-content: center ;
  align-items: center ;
  vertical-align: middle ;
}

.card-panel{
  padding-left: 5% ;
  padding-right: 5% ;
}

.card-title-color{
  color: rgb(102, 2, 124) ;
  font-size: 25px !important;
  font-weight: bold !important;
}

.card-margin{
  padding-left: 5% ;
  padding-right: 5% ;
}

.card-text{
  color: rgb(255, 255, 255);
}


