/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-image: "espacio2.jpg";
  background-attachment: fixed;/*para que sea estático*/
  /*background-position: top right;/*arriba a la derecha*/
  /*background-repeat: no-repeat;/*que no se repita el fondo*/

}

.background{
  color: rgba(38, 2, 68, 0.699);
}

.padding{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.card-panel{
  padding-left: 5% ;
  padding-right: 5% ;
}

.card-title{
  color: rgb(252, 252, 252);
  font-size: 25px;
  font-weight: bold;
}

.card-margin{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.card-text{
  color: rgb(255, 255, 255);
}

.purple1{
  background-color: rgba(48, 24, 71, 0.555)
}

.gris{
  background-color: rgba(143, 141, 140, 0.322);
}
.grey2{
  background-color: rgba(75, 71, 71, 0.836);
}
.link-text{
  background-color: rgb(255, 106, 0);
}





 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 350px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 